/* tables */
table.tablesorter {
	font-family:Arial, Helvetica, sans-serif;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 1em;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #9dd7ff;
	border: 1px solid #FFF;
	font-size: 0.8em;
	padding: 8px;
}
table.tablesorter thead tr .header {
	background-image: url("../images/bg.gif");
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter caption {
	font-weight: bolder;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #f7f7f7;
	vertical-align: top;
	font-size: 0.8em;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

table.tablesorter thead.center th,table.tablesorter tbody.center td{
	text-align: center;
	width:50%;
}
table.tablesorter thead.center2 th,table.tablesorter tbody.center2 td{
	text-align: center;
}
table.tablesorter thead.widthfix th,table.tablesorter tbody.widthfix td{
	width: 20%;
}
