<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>labby</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>systemLogin</display-name>
    <servlet-name>systemLogin</servlet-name>
    <servlet-class>systemLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>systemLogin</servlet-name>
    <url-pattern>/systemLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>createUser</display-name>
    <servlet-name>createUser</servlet-name>
    <servlet-class>createUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createUser</servlet-name>
    <url-pattern>/createUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>masterLogin</display-name>
    <servlet-name>masterLogin</servlet-name>
    <servlet-class>masterLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>masterLogin</servlet-name>
    <url-pattern>/masterLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changePassword</display-name>
    <servlet-name>changePassword</servlet-name>
    <servlet-class>changePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changePassword</servlet-name>
    <url-pattern>/changePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>createInstrument</display-name>
    <servlet-name>createInstrument</servlet-name>
    <servlet-class>createInstrument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createInstrument</servlet-name>
    <url-pattern>/createInstrument</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addGroup</display-name>
    <servlet-name>addGroup</servlet-name>
    <servlet-class>addGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addGroup</servlet-name>
    <url-pattern>/addGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>promoteUser</display-name>
    <servlet-name>promoteUser</servlet-name>
    <servlet-class>promoteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>promoteUser</servlet-name>
    <url-pattern>/promoteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>saveReserv</display-name>
    <servlet-name>saveReserv</servlet-name>
    <servlet-class>saveReserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveReserv</servlet-name>
    <url-pattern>/saveReserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delReserv</display-name>
    <servlet-name>delReserv</servlet-name>
    <servlet-class>delReserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delReserv</servlet-name>
    <url-pattern>/delReserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDetail</display-name>
    <servlet-name>UpdateDetail</servlet-name>
    <servlet-class>UpdateDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDetail</servlet-name>
    <url-pattern>/UpdateDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUsers</display-name>
    <servlet-name>EditUsers</servlet-name>
    <servlet-class>EditUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUsers</servlet-name>
    <url-pattern>/EditUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResendPassword</display-name>
    <servlet-name>ResendPassword</servlet-name>
    <servlet-class>ResendPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResendPassword</servlet-name>
    <url-pattern>/ResendPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uploadXSL</display-name>
    <servlet-name>uploadXSL</servlet-name>
    <servlet-class>uploadXSL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadXSL</servlet-name>
    <url-pattern>/uploadXSL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>search</display-name>
    <servlet-name>search</servlet-name>
    <servlet-class>search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>dbusername</param-name>
    <param-value>labby</param-value>
  </context-param>
  <context-param>
    <param-name>dbpassword</param-name>
    <param-value>dbpassword</param-value>
  </context-param>
  <context-param>
    <param-name>dbport</param-name>
    <param-value>3306</param-value>
  </context-param>
  <context-param>
    <param-name>dbname</param-name>
    <param-value>labby_db</param-value>
  </context-param>
  <context-param>
    <param-name>masterpassword</param-name>
    <param-value>password</param-value>
  </context-param>
  <context-param>
    <param-name>maxconnections</param-name>
    <param-value>5</param-value>
  </context-param>
  <context-param>
    <param-name>emailusername</param-name>
    <param-value>labby.lab.managment@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>emailpassword</param-name>
    <param-value>3y87f4igtv37t3wgivh4yn3</param-value>
  </context-param>
  <listener>
    <listener-class>InitializeLabbyParams</listener-class>
  </listener>
</web-app>